<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c] %m%n" />
		</layout>
	</appender>
	<logger name="gov.epa.rcra" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.security" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.glassfish.jersey" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.jdbc.datasource.init" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<!--<logger name="org.hibernate.type" additivity="false"> -->
	<!--<level value="TRACE"/> -->
	<!--<appender-ref ref="CONSOLE"/> -->
	<!--</logger> -->
	<logger name="org.hibernate.tool.hbm2ddl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<root>
		<level value="warn" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>